div.row
    div.col-lg-12
        div.page-header History
div
    div.row(ng-repeat="record in history | orderBy:'EditDate'")
        div.col-lg-7.col-md-12(style="float: none; margin: 0 auto;")
            div.panel
                div.panel-footer
                    span.pull-left {{ record }}
                    span.pull-right
                        i.fa.fa-arrow-circle-right
                    div.clearfix