div.row
    div.col-lg-12
        div.page-header Time Spent On Conference Calls
div
    div.row
        div.col-md-12(style="float: none; margin: 0 auto;")
            //span {{ staffMembers }}
            div.chart(google-chart="", chart="chartObject")